// Styles for group-device
.m-group-device{
    &__container{
        width: calc(100% - 32px);
        margin: 16px;
        
    }
    &__device-name{

    }
    &__list{
        width: 100%;
        display: flex;
        overflow-x: auto;
        gap: 8px;
        padding-bottom: 8px;
    }
}